In [1]:
import numpy as np
import pandas as pd

In [3]:
s = pd.Series([1, 2, 3, None, 2.90, np.nan])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    2.9
5    NaN
dtype: float64

In [4]:
pd.date_range('2024-01-12', periods=20)

DatetimeIndex(['2024-01-12', '2024-01-13', '2024-01-14', '2024-01-15',
               '2024-01-16', '2024-01-17', '2024-01-18', '2024-01-19',
               '2024-01-20', '2024-01-21', '2024-01-22', '2024-01-23',
               '2024-01-24', '2024-01-25', '2024-01-26', '2024-01-27',
               '2024-01-28', '2024-01-29', '2024-01-30', '2024-01-31'],
              dtype='datetime64[ns]', freq='D')

In [6]:
pd.date_range('2024-12-01', periods=32)

DatetimeIndex(['2024-12-01', '2024-12-02', '2024-12-03', '2024-12-04',
               '2024-12-05', '2024-12-06', '2024-12-07', '2024-12-08',
               '2024-12-09', '2024-12-10', '2024-12-11', '2024-12-12',
               '2024-12-13', '2024-12-14', '2024-12-15', '2024-12-16',
               '2024-12-17', '2024-12-18', '2024-12-19', '2024-12-20',
               '2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24',
               '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-28',
               '2024-12-29', '2024-12-30', '2024-12-31', '2025-01-01'],
              dtype='datetime64[ns]', freq='D')

In [8]:
pd.date_range('2024-02-01', periods=33)

DatetimeIndex(['2024-02-01', '2024-02-02', '2024-02-03', '2024-02-04',
               '2024-02-05', '2024-02-06', '2024-02-07', '2024-02-08',
               '2024-02-09', '2024-02-10', '2024-02-11', '2024-02-12',
               '2024-02-13', '2024-02-14', '2024-02-15', '2024-02-16',
               '2024-02-17', '2024-02-18', '2024-02-19', '2024-02-20',
               '2024-02-21', '2024-02-22', '2024-02-23', '2024-02-24',
               '2024-02-25', '2024-02-26', '2024-02-27', '2024-02-28',
               '2024-02-29', '2024-03-01', '2024-03-02', '2024-03-03',
               '2024-03-04'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
feb = pd.date_range('2024-02-01', periods=28)
shifts = ['morning', 'afternoon', 'night']

df = pd.DataFrame(data=np.random.randn(28, 3), index=feb, columns=shifts)
df

,2024-02-01,2024-02-02,2024-02-03,2024-02-04,2024-02-05,2024-02-06,2024-02-07,2024-02-08,2024-02-09,2024-02-10,...,2024-02-19,2024-02-20,2024-02-21,2024-02-22,2024-02-23,2024-02-24,2024-02-25,2024-02-26,2024-02-27,2024-02-28
morning,0.066856,-0.462205,1.345002,0.394166,-1.057858,1.563648,-1.118272,2.254456,-0.057106,-0.195031,...,0.633783,0.654961,2.196349,0.041346,-1.322907,1.430817,-1.031638,0.420713,0.567935,-0.599627
afternoon,1.231232,0.117889,-0.191563,-0.834508,-0.324702,-0.780676,1.582875,-0.161716,-0.915433,-1.276312,...,-0.630921,0.523319,2.012977,-0.795756,0.250757,-0.048367,-0.102037,-0.474063,-1.638177,1.841466
night,1.265225,0.556690,-0.112760,-0.153199,-1.142861,-0.263047,-0.468430,-0.936096,-1.329720,0.464985,...,0.204752,0.561581,-1.044781,-0.550579,1.916122,-1.185842,-1.443010,2.301529,0.379392,-0.907223

In [31]:
df = pd.DataFrame(data=np.random.randn(3, 28), index=shifts, columns=feb)
df

,2024-02-01,2024-02-02,2024-02-03,2024-02-04,2024-02-05,2024-02-06,2024-02-07,2024-02-08,2024-02-09,2024-02-10,...,2024-02-19,2024-02-20,2024-02-21,2024-02-22,2024-02-23,2024-02-24,2024-02-25,2024-02-26,2024-02-27,2024-02-28
morning,-0.481685,0.717969,-0.032491,1.743988,-0.027868,-0.667134,0.014945,0.765238,1.383995,-0.324326,...,-0.725410,-1.355228,-0.964972,-0.978021,0.764022,0.566830,-0.941379,-2.135800,-0.307828,0.015215
afternoon,-0.871322,0.695978,0.249559,-0.013367,0.239502,0.303513,-1.389968,-0.595721,-1.820260,0.148734,...,-0.521238,-1.166828,0.130271,0.806334,-0.120167,-0.021478,0.399535,1.550831,-0.548627,1.285027
night,-0.342643,-0.425131,0.432952,0.706117,-1.830522,0.909733,0.099818,1.284048,-0.031804,-0.955252,...,0.650409,1.002578,-0.003948,1.240302,0.071746,0.243438,-0.768273,-1.247428,1.396714,-0.136834

In [32]:
df.to_numpy()

array([[-0.48168473,  0.71796944, -0.03249103,  1.74398838, -0.02786762,
        -0.66713411,  0.01494537,  0.76523804,  1.38399507, -0.32432597,
         1.14385181, -0.41337306,  0.92716939,  0.4048218 , -0.48551958,
         1.55526828,  2.49266721, -0.47435246, -0.72540962, -1.35522779,
        -0.96497238, -0.97802124,  0.76402165,  0.56683002, -0.94137949,
        -2.13580022, -0.30782798,  0.0152145 ],
       [-0.87132203,  0.69597798,  0.24955924, -0.01336736,  0.23950188,
         0.30351318, -1.3899678 , -0.59572126, -1.82025979,  0.14873358,
         0.34306928, -1.2574814 ,  0.20509055,  1.3035777 ,  0.59587785,
        -1.96512607,  0.79066853,  0.77666522, -0.52123848, -1.16682774,
         0.13027068,  0.80633435, -0.12016733, -0.02147809,  0.39953459,
         1.55083072, -0.54862722,  1.2850268 ],
       [-0.34264322, -0.42513135,  0.43295238,  0.70611651, -1.8305215 ,
         0.90973284,  0.09981761,  1.28404815, -0.03180399, -0.95525229,
         0.30357395, -0.77015671, -0.33939331, -0.92097125,  0.6999599 ,
        -0.72472609, -0.53765202,  2.34699127,  0.65040931,  1.00257773,
        -0.00394779,  1.24030203,  0.07174552,  0.24343818, -0.76827252,
        -1.24742824,  1.39671443, -0.13683402]])

In [33]:
# an interesting way to create a DataFrame
df = pd.DataFrame(

    {
        "A": 1,
        "B": pd.Timestamp("2024-01-01"),
        "C": pd.Series(1, index=range(4), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo"

    }
)

df

   A          B    C  D      E    F
0  1 2024-01-01  1.0  3   test  foo
1  1 2024-01-01  1.0  3  train  foo
2  1 2024-01-01  1.0  3   test  foo
3  1 2024-01-01  1.0  3  train  foo

In [34]:
df.describe()

         A                    B    C    D
count  4.0                    4  4.0  4.0
mean   1.0  2024-01-01 00:00:00  1.0  3.0
min    1.0  2024-01-01 00:00:00  1.0  3.0
25%    1.0  2024-01-01 00:00:00  1.0  3.0
50%    1.0  2024-01-01 00:00:00  1.0  3.0
75%    1.0  2024-01-01 00:00:00  1.0  3.0
max    1.0  2024-01-01 00:00:00  1.0  3.0
std    0.0                  NaN  0.0  0.0

In [35]:
df.dtypes

A            int64
B    datetime64[s]
C          float32
D            int32
E         category
F           object
dtype: object

In [36]:
# an interesting way to create a DataFrame
df = pd.DataFrame(

    {
        "A": input("Enter a number: "),
        "B": pd.Timestamp("2024-01-01"),
        "C": pd.Series(1, index=range(40), dtype="float32"),
        "D": np.array([3] * 40, dtype="int32"),
        "E": pd.Categorical(["test", "train", "testing", "training"] * 10),
        "F": "foo"

    }
)

df

     A          B    C  D         E    F
0   12 2024-01-01  1.0  3      test  foo
1   12 2024-01-01  1.0  3     train  foo
2   12 2024-01-01  1.0  3   testing  foo
3   12 2024-01-01  1.0  3  training  foo
4   12 2024-01-01  1.0  3      test  foo
5   12 2024-01-01  1.0  3     train  foo
6   12 2024-01-01  1.0  3   testing  foo
7   12 2024-01-01  1.0  3  training  foo
8   12 2024-01-01  1.0  3      test  foo
9   12 2024-01-01  1.0  3     train  foo
10  12 2024-01-01  1.0  3   testing  foo
11  12 2024-01-01  1.0  3  training  foo
12  12 2024-01-01  1.0  3      test  foo
13  12 2024-01-01  1.0  3     train  foo
14  12 2024-01-01  1.0  3   testing  foo
15  12 2024-01-01  1.0  3  training  foo
16  12 2024-01-01  1.0  3      test  foo
17  12 2024-01-01  1.0  3     train  foo
18  12 2024-01-01  1.0  3   testing  foo
19  12 2024-01-01  1.0  3  training  foo
20  12 2024-01-01  1.0  3      test  foo
21  12 2024-01-01  1.0  3     train  foo
22  12 2024-01-01  1.0  3   testing  foo
23  12 2024-01-01  1.0  3  training  foo
24  12 2024-01-01  1.0  3      test  foo
25  12 2024-01-01  1.0  3     train  foo
26  12 2024-01-01  1.0  3   testing  foo
27  12 2024-01-01  1.0  3  training  foo
28  12 2024-01-01  1.0  3      test  foo
29  12 2024-01-01  1.0  3     train  foo
30  12 2024-01-01  1.0  3   testing  foo
31  12 2024-01-01  1.0  3  training  foo
32  12 2024-01-01  1.0  3      test  foo
33  12 2024-01-01  1.0  3     train  foo
34  12 2024-01-01  1.0  3   testing  foo
35  12 2024-01-01  1.0  3  training  foo
36  12 2024-01-01  1.0  3      test  foo
37  12 2024-01-01  1.0  3     train  foo
38  12 2024-01-01  1.0  3   testing  foo
39  12 2024-01-01  1.0  3  training  foo

In [37]:
df.head()

    A          B    C  D         E    F
0  12 2024-01-01  1.0  3      test  foo
1  12 2024-01-01  1.0  3     train  foo
2  12 2024-01-01  1.0  3   testing  foo
3  12 2024-01-01  1.0  3  training  foo
4  12 2024-01-01  1.0  3      test  foo

In [38]:
df.index

RangeIndex(start=0, stop=40, step=1)

In [39]:
df.to_numpy()

array([['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'test', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'train', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'testing', 'foo'],
       ['12', Timestamp('2024-01-01 00:00:00'), 1.0, 3, 'training',
        'foo']], dtype=object)

In [40]:
df

     A          B    C  D         E    F
0   12 2024-01-01  1.0  3      test  foo
1   12 2024-01-01  1.0  3     train  foo
2   12 2024-01-01  1.0  3   testing  foo
3   12 2024-01-01  1.0  3  training  foo
4   12 2024-01-01  1.0  3      test  foo
5   12 2024-01-01  1.0  3     train  foo
6   12 2024-01-01  1.0  3   testing  foo
7   12 2024-01-01  1.0  3  training  foo
8   12 2024-01-01  1.0  3      test  foo
9   12 2024-01-01  1.0  3     train  foo
10  12 2024-01-01  1.0  3   testing  foo
11  12 2024-01-01  1.0  3  training  foo
12  12 2024-01-01  1.0  3      test  foo
13  12 2024-01-01  1.0  3     train  foo
14  12 2024-01-01  1.0  3   testing  foo
15  12 2024-01-01  1.0  3  training  foo
16  12 2024-01-01  1.0  3      test  foo
17  12 2024-01-01  1.0  3     train  foo
18  12 2024-01-01  1.0  3   testing  foo
19  12 2024-01-01  1.0  3  training  foo
20  12 2024-01-01  1.0  3      test  foo
21  12 2024-01-01  1.0  3     train  foo
22  12 2024-01-01  1.0  3   testing  foo
23  12 2024-01-01  1.0  3  training  foo
24  12 2024-01-01  1.0  3      test  foo
25  12 2024-01-01  1.0  3     train  foo
26  12 2024-01-01  1.0  3   testing  foo
27  12 2024-01-01  1.0  3  training  foo
28  12 2024-01-01  1.0  3      test  foo
29  12 2024-01-01  1.0  3     train  foo
30  12 2024-01-01  1.0  3   testing  foo
31  12 2024-01-01  1.0  3  training  foo
32  12 2024-01-01  1.0  3      test  foo
33  12 2024-01-01  1.0  3     train  foo
34  12 2024-01-01  1.0  3   testing  foo
35  12 2024-01-01  1.0  3  training  foo
36  12 2024-01-01  1.0  3      test  foo
37  12 2024-01-01  1.0  3     train  foo
38  12 2024-01-01  1.0  3   testing  foo
39  12 2024-01-01  1.0  3  training  foo

In [41]:
df.sort_index(axis=1, ascending=False) #axis=1 means sort(rearrange) columns by columnnames

      F         E  D    C          B   A
0   foo      test  3  1.0 2024-01-01  12
1   foo     train  3  1.0 2024-01-01  12
2   foo   testing  3  1.0 2024-01-01  12
3   foo  training  3  1.0 2024-01-01  12
4   foo      test  3  1.0 2024-01-01  12
5   foo     train  3  1.0 2024-01-01  12
6   foo   testing  3  1.0 2024-01-01  12
7   foo  training  3  1.0 2024-01-01  12
8   foo      test  3  1.0 2024-01-01  12
9   foo     train  3  1.0 2024-01-01  12
10  foo   testing  3  1.0 2024-01-01  12
11  foo  training  3  1.0 2024-01-01  12
12  foo      test  3  1.0 2024-01-01  12
13  foo     train  3  1.0 2024-01-01  12
14  foo   testing  3  1.0 2024-01-01  12
15  foo  training  3  1.0 2024-01-01  12
16  foo      test  3  1.0 2024-01-01  12
17  foo     train  3  1.0 2024-01-01  12
18  foo   testing  3  1.0 2024-01-01  12
19  foo  training  3  1.0 2024-01-01  12
20  foo      test  3  1.0 2024-01-01  12
21  foo     train  3  1.0 2024-01-01  12
22  foo   testing  3  1.0 2024-01-01  12
23  foo  training  3  1.0 2024-01-01  12
24  foo      test  3  1.0 2024-01-01  12
25  foo     train  3  1.0 2024-01-01  12
26  foo   testing  3  1.0 2024-01-01  12
27  foo  training  3  1.0 2024-01-01  12
28  foo      test  3  1.0 2024-01-01  12
29  foo     train  3  1.0 2024-01-01  12
30  foo   testing  3  1.0 2024-01-01  12
31  foo  training  3  1.0 2024-01-01  12
32  foo      test  3  1.0 2024-01-01  12
33  foo     train  3  1.0 2024-01-01  12
34  foo   testing  3  1.0 2024-01-01  12
35  foo  training  3  1.0 2024-01-01  12
36  foo      test  3  1.0 2024-01-01  12
37  foo     train  3  1.0 2024-01-01  12
38  foo   testing  3  1.0 2024-01-01  12
39  foo  training  3  1.0 2024-01-01  12

In [42]:
df

     A          B    C  D         E    F
0   12 2024-01-01  1.0  3      test  foo
1   12 2024-01-01  1.0  3     train  foo
2   12 2024-01-01  1.0  3   testing  foo
3   12 2024-01-01  1.0  3  training  foo
4   12 2024-01-01  1.0  3      test  foo
5   12 2024-01-01  1.0  3     train  foo
6   12 2024-01-01  1.0  3   testing  foo
7   12 2024-01-01  1.0  3  training  foo
8   12 2024-01-01  1.0  3      test  foo
9   12 2024-01-01  1.0  3     train  foo
10  12 2024-01-01  1.0  3   testing  foo
11  12 2024-01-01  1.0  3  training  foo
12  12 2024-01-01  1.0  3      test  foo
13  12 2024-01-01  1.0  3     train  foo
14  12 2024-01-01  1.0  3   testing  foo
15  12 2024-01-01  1.0  3  training  foo
16  12 2024-01-01  1.0  3      test  foo
17  12 2024-01-01  1.0  3     train  foo
18  12 2024-01-01  1.0  3   testing  foo
19  12 2024-01-01  1.0  3  training  foo
20  12 2024-01-01  1.0  3      test  foo
21  12 2024-01-01  1.0  3     train  foo
22  12 2024-01-01  1.0  3   testing  foo
23  12 2024-01-01  1.0  3  training  foo
24  12 2024-01-01  1.0  3      test  foo
25  12 2024-01-01  1.0  3     train  foo
26  12 2024-01-01  1.0  3   testing  foo
27  12 2024-01-01  1.0  3  training  foo
28  12 2024-01-01  1.0  3      test  foo
29  12 2024-01-01  1.0  3     train  foo
30  12 2024-01-01  1.0  3   testing  foo
31  12 2024-01-01  1.0  3  training  foo
32  12 2024-01-01  1.0  3      test  foo
33  12 2024-01-01  1.0  3     train  foo
34  12 2024-01-01  1.0  3   testing  foo
35  12 2024-01-01  1.0  3  training  foo
36  12 2024-01-01  1.0  3      test  foo
37  12 2024-01-01  1.0  3     train  foo
38  12 2024-01-01  1.0  3   testing  foo
39  12 2024-01-01  1.0  3  training  foo

In [43]:
df.sort_values(by="E")

     A          B    C  D         E    F
0   12 2024-01-01  1.0  3      test  foo
28  12 2024-01-01  1.0  3      test  foo
32  12 2024-01-01  1.0  3      test  foo
4   12 2024-01-01  1.0  3      test  foo
24  12 2024-01-01  1.0  3      test  foo
36  12 2024-01-01  1.0  3      test  foo
8   12 2024-01-01  1.0  3      test  foo
20  12 2024-01-01  1.0  3      test  foo
12  12 2024-01-01  1.0  3      test  foo
16  12 2024-01-01  1.0  3      test  foo
26  12 2024-01-01  1.0  3   testing  foo
22  12 2024-01-01  1.0  3   testing  foo
38  12 2024-01-01  1.0  3   testing  foo
18  12 2024-01-01  1.0  3   testing  foo
34  12 2024-01-01  1.0  3   testing  foo
10  12 2024-01-01  1.0  3   testing  foo
6   12 2024-01-01  1.0  3   testing  foo
2   12 2024-01-01  1.0  3   testing  foo
14  12 2024-01-01  1.0  3   testing  foo
30  12 2024-01-01  1.0  3   testing  foo
29  12 2024-01-01  1.0  3     train  foo
13  12 2024-01-01  1.0  3     train  foo
17  12 2024-01-01  1.0  3     train  foo
9   12 2024-01-01  1.0  3     train  foo
21  12 2024-01-01  1.0  3     train  foo
33  12 2024-01-01  1.0  3     train  foo
5   12 2024-01-01  1.0  3     train  foo
25  12 2024-01-01  1.0  3     train  foo
37  12 2024-01-01  1.0  3     train  foo
1   12 2024-01-01  1.0  3     train  foo
35  12 2024-01-01  1.0  3  training  foo
19  12 2024-01-01  1.0  3  training  foo
27  12 2024-01-01  1.0  3  training  foo
23  12 2024-01-01  1.0  3  training  foo
15  12 2024-01-01  1.0  3  training  foo
11  12 2024-01-01  1.0  3  training  foo
7   12 2024-01-01  1.0  3  training  foo
3   12 2024-01-01  1.0  3  training  foo
31  12 2024-01-01  1.0  3  training  foo
39  12 2024-01-01  1.0  3  training  foo

In [44]:
df.sort_index(axis=0, ascending=False) #axis=0 means sort the rows based on index

     A          B    C  D         E    F
39  12 2024-01-01  1.0  3  training  foo
38  12 2024-01-01  1.0  3   testing  foo
37  12 2024-01-01  1.0  3     train  foo
36  12 2024-01-01  1.0  3      test  foo
35  12 2024-01-01  1.0  3  training  foo
34  12 2024-01-01  1.0  3   testing  foo
33  12 2024-01-01  1.0  3     train  foo
32  12 2024-01-01  1.0  3      test  foo
31  12 2024-01-01  1.0  3  training  foo
30  12 2024-01-01  1.0  3   testing  foo
29  12 2024-01-01  1.0  3     train  foo
28  12 2024-01-01  1.0  3      test  foo
27  12 2024-01-01  1.0  3  training  foo
26  12 2024-01-01  1.0  3   testing  foo
25  12 2024-01-01  1.0  3     train  foo
24  12 2024-01-01  1.0  3      test  foo
23  12 2024-01-01  1.0  3  training  foo
22  12 2024-01-01  1.0  3   testing  foo
21  12 2024-01-01  1.0  3     train  foo
20  12 2024-01-01  1.0  3      test  foo
19  12 2024-01-01  1.0  3  training  foo
18  12 2024-01-01  1.0  3   testing  foo
17  12 2024-01-01  1.0  3     train  foo
16  12 2024-01-01  1.0  3      test  foo
15  12 2024-01-01  1.0  3  training  foo
14  12 2024-01-01  1.0  3   testing  foo
13  12 2024-01-01  1.0  3     train  foo
12  12 2024-01-01  1.0  3      test  foo
11  12 2024-01-01  1.0  3  training  foo
10  12 2024-01-01  1.0  3   testing  foo
9   12 2024-01-01  1.0  3     train  foo
8   12 2024-01-01  1.0  3      test  foo
7   12 2024-01-01  1.0  3  training  foo
6   12 2024-01-01  1.0  3   testing  foo
5   12 2024-01-01  1.0  3     train  foo
4   12 2024-01-01  1.0  3      test  foo
3   12 2024-01-01  1.0  3  training  foo
2   12 2024-01-01  1.0  3   testing  foo
1   12 2024-01-01  1.0  3     train  foo
0   12 2024-01-01  1.0  3      test  foo

In [45]:
df.sort_values(by=["E", "D"])

     A          B    C  D         E    F
0   12 2024-01-01  1.0  3      test  foo
4   12 2024-01-01  1.0  3      test  foo
8   12 2024-01-01  1.0  3      test  foo
12  12 2024-01-01  1.0  3      test  foo
16  12 2024-01-01  1.0  3      test  foo
20  12 2024-01-01  1.0  3      test  foo
24  12 2024-01-01  1.0  3      test  foo
28  12 2024-01-01  1.0  3      test  foo
32  12 2024-01-01  1.0  3      test  foo
36  12 2024-01-01  1.0  3      test  foo
2   12 2024-01-01  1.0  3   testing  foo
6   12 2024-01-01  1.0  3   testing  foo
10  12 2024-01-01  1.0  3   testing  foo
14  12 2024-01-01  1.0  3   testing  foo
18  12 2024-01-01  1.0  3   testing  foo
22  12 2024-01-01  1.0  3   testing  foo
26  12 2024-01-01  1.0  3   testing  foo
30  12 2024-01-01  1.0  3   testing  foo
34  12 2024-01-01  1.0  3   testing  foo
38  12 2024-01-01  1.0  3   testing  foo
1   12 2024-01-01  1.0  3     train  foo
5   12 2024-01-01  1.0  3     train  foo
9   12 2024-01-01  1.0  3     train  foo
13  12 2024-01-01  1.0  3     train  foo
17  12 2024-01-01  1.0  3     train  foo
21  12 2024-01-01  1.0  3     train  foo
25  12 2024-01-01  1.0  3     train  foo
29  12 2024-01-01  1.0  3     train  foo
33  12 2024-01-01  1.0  3     train  foo
37  12 2024-01-01  1.0  3     train  foo
3   12 2024-01-01  1.0  3  training  foo
7   12 2024-01-01  1.0  3  training  foo
11  12 2024-01-01  1.0  3  training  foo
15  12 2024-01-01  1.0  3  training  foo
19  12 2024-01-01  1.0  3  training  foo
23  12 2024-01-01  1.0  3  training  foo
27  12 2024-01-01  1.0  3  training  foo
31  12 2024-01-01  1.0  3  training  foo
35  12 2024-01-01  1.0  3  training  foo
39  12 2024-01-01  1.0  3  training  foo

In [47]:
df[['A', 'B']].head()

    A          B
0  12 2024-01-01
1  12 2024-01-01
2  12 2024-01-01
3  12 2024-01-01
4  12 2024-01-01